<div
      id="header"
      class="header flex w-full justify-between pr-4 items-center"
    >
      <img id="logo-img" class="h-24 hover:cursor-pointer" src="../assets/img/logo-removebg-preview.png" alt="" />
      <div class="flex text-white items-center gap-6">
        <div class="flex items-center gap-2 cursor-pointer">
          <img class="w-5 invert" src="../assets/img/projects_w.svg" alt="" />
          <div class="flex flex-col gap-1">
            <span class="head text-lg font-medium">Projects</span>
            <div id="projects"
              hidden
              class="underline w-full h-1 rounded-lg bg-[#2957A3]"
            ></div>
          </div>
        </div>
        <div class="flex items-center gap-2 cursor-pointer">
          <img class="w-5 invert" src="../assets/img/experience_w.svg" alt="" />
          <div class="flex flex-col gap-1">
            <span class="head text-lg font-medium">Experience</span>
            <div id="experience"
              hidden
              class="underline w-full h-1 rounded-lg bg-[#2957A3]"
            ></div>
          </div>
        </div>
        <div class="flex items-center gap-2 cursor-pointer">
          <img class="w-5 invert" src="../assets/img/skills_w.svg" alt="" />
          <div class="flex flex-col gap-1">
            <span class="head text-lg font-medium">Top Skills</span>
            <div id="skills"
              hidden
              class="underline w-full h-1 rounded-lg bg-[#2957A3]"
            ></div>
          </div>
        </div>
        <div class="flex items-center gap-2 cursor-pointer">
          <img class="w-5 invert" src="../assets/img/education_w.svg" alt="" />
          <div class="flex flex-col gap-1">
            <span class="head text-lg font-medium">Education</span>
            <div id="education"
              hidden
              class="underline w-full h-1 rounded-lg bg-[#2957A3]"
            ></div>
          </div>
        </div>
        <div class="flex items-center gap-2 cursor-pointer">
          <img class="w-5" src="../assets/img/blogs_w.svg" alt="" />
          <div class="flex flex-col gap-1">
            <span class="head text-lg font-medium">Blogs</span>
            <div id="blogs"
              hidden
              class="underline w-full h-1 rounded-lg bg-[#2957A3]"
            ></div>
          </div>
        </div>
      </div>
      <div class="switch-container">
        <input type="checkbox" id="switch" />
        <label for="switch">
          <i class="fas fa-sun"></i>
          <i class="fas fa-moon"></i>
          <span class="ball"></span>
        </label>
      </div>
    </div>