<div
        id="side-bar"
        class="sidebar flex flex-col items-center justify-evenly w-12 h-96 bg-[#C3C2E6] rounded-r-3xl"
      >
        <div class="relative" id="home">
          <div class="flex content-center p-2 rounded-full">
            <img
              class="side w-5 cursor-pointer"
              src="../assets/img/home_b.svg"
              alt=""
            />
          </div>
          <span
            hidden
            class="absolute -top-0.5 left-11 px-4 py-1 rounded-r-lg outline-1 bg-[#C961DE] text-white text-sm font-semibold w-fit whitespace-nowrap"
          >Home</span>
        </div>
        <div class="relative" id="about">
          <div class="flex content-center p-2 rounded-full">
            <img
              class="side w-5 cursor-pointer"
              src="../assets/img/about_b.svg"
              alt=""
            />
          </div>
          <span
            hidden
            class="absolute -top-0.5 left-11 px-4 py-1 rounded-r-lg outline-1 bg-[#C961DE] text-white text-sm font-semibold w-fit whitespace-nowrap"
          >About Me</span>
        </div>
        <div class="relative" id="contact">
          <div class="flex content-center p-2 rounded-full">
            <img
              class="side w-5 cursor-pointer"
              src="../assets/img/contact_b.svg"
              alt=""
            />
          </div>
          <span
            hidden
            class="absolute -top-0.5 left-11 px-4 py-1 rounded-r-lg outline-1 bg-[#C961DE] text-white text-sm font-semibold w-fit whitespace-nowrap"
          >Contact Me</span>
        </div>
        <div class="relative" id="feedback">
          <div class="flex content-center p-2 rounded-full">
            <img
              class="side w-5 cursor-pointer"
              src="../assets/img/favourite_b.svg"
              alt=""
            />
          </div>
          <span
            hidden
            class="absolute -top-0.5 left-11 px-4 py-1 rounded-r-lg outline-1 bg-[#C961DE] text-white text-sm font-semibold w-fit whitespace-nowrap"
          >Feedback</span>
        </div>
      </div>