<div id="social-icon" class="flex justify-end pr-4 gap-4">
      <a href="https://github.com/Abhinaba-Jash" target="_blank"><img class="cursor-pointer" src="../assets/img/github.svg" alt="" /></a>
      <a href="https://linkedin.com/in/abhinaba-jash-344719252" target="_blank"><img class="cursor-pointer" src="../assets/img/linkedin.svg" alt="" /></a>
      <a href="https://www.instagram.com/abhinaba_jash/" target="_blank"><img class="cursor-pointer" src="../assets/img/insta.svg" alt="" /></a>
     <a href="https://www.facebook.com/abhinaba.jash.1/" target="_blank"> <img class="invert cursor-pointer" src="../assets/img/fb.png" alt="" /></a> <!--TODO-->
    </div>