
      <div
        id="mid-cont" data-x={{{current_page_id}}} data-location={{{current_page_loaction}}} 
        class="flex text-white left-64 gap-8 top-2 absolute items-center w-[160vh] pb-8"
      >

        <div class="flex flex-col w-full">
          <div class="flex">
            <img class="h-36" src="../assets/img/contact_img.webp" alt="" />
            <div class="flex flex-col">
              <span
                class="text-sm py-1 px-2 rounded-lg font-semibold w-fit h-fit bg-[#59b8e4] rounded-bl-none"
              >Contact Me...</span>
              <div class="h-6 rounded-br-3xl w-3 bg-[#59b8e4]"></div>
            </div>
          </div>
          <div class="flex flex-col items-center pr-44 gap-6">
            <div
              class="flex gap-4 items-center bg-[#192d4b] py-2 px-4 rounded-lg w-72 justify-between"
            >
              <span class="text-xl">Write me on GMAIL : </span>
              <a href="https://mail.google.com/mail/?view=cm&fs=1&to=abhinabajash48@example.com" target="_blank">
              <img
                class="hover:cursor-pointer"
                src="../assets/img/gmail.svg"
                alt=""
              />
              </a>
            </div>
            <div
              class="flex gap-4 items-center bg-[#192d4b] py-2 rounded-lg w-72 px-4 justify-between"
            >
              <span class="text-xl">Connect on Linkedin : </span>
              <a href="https://linkedin.com/in/abhinaba-jash-344719252" target="_blank"><img
                class="hover:cursor-pointer"
                src="../assets/img/linkedin_c.svg"
                alt=""
              /></a>
            </div>
            <div
              class="flex gap-4 items-center bg-[#192d4b] py-2 rounded-lg w-fit px-4 justify-between"
            >
              <span class="text-xl">Drop a message / call me : </span>
              <div class="flex flex-col items-center gap-1">
                <img id="copy-no-btn"
                  class="invert hover:cursor-pointer w-7"
                  src="../assets/img/copy_c.svg"
                  alt=""
                />
                <span id="copy-no-txt" class="text-xs text-white">Copy Phone Number</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    