
      <div
        id="mid-cont" data-x={{{current_page_id}}} data-location={{{current_page_loaction}}} 
        class="flex text-white left-64 gap-8 top-2 absolute items-center w-[160vh] pb-8"
      >

        <div class="flex flex-col w-full pt-10 pl-24 gap-11 relative">
          <div class="flex items-center gap-4">
            <div
              class="bubble w-6 h-6 bg-gradient-to-b from-[#192d4b] to-[#C961DE] rounded-full"
            ></div>
            <div class="flex flex-col">
              <span class="text-xl">University institute of technology - Burdwan</span>
              <div class="flex justify-between">
                <span>Course : B.E</span>
                <span>Current Semester : 5</span>
              </div>
              <span>S.G.P.A : 9.09</span>
            </div>
            <div class="flex flex-col items-center ml-4">
              <img
                class="w-6 hover:cursor-pointer"
                src="../assets/img/document.svg"
                alt=""
              />

            </div>
          </div>

          <div
            class="line h-36 w-2 bg-gradient-to-t from-[#192d4b] to-[#C961DE] absolute ml-2 mt-12"
          ></div>

          <div class="flex"></div>
          <div class="flex items-center gap-4">
            <div
              class="bubble w-6 h-6 bg-gradient-to-b from-[#192d4b] to-[#C961DE] rounded-full"
            ></div>
            <div class="flex flex-col">
              <span class="text-xl">Aushnara High School</span>
              <div class="flex justify-between">
                <span>Course : H.S</span>
              </div>
              <span>Percentage : 94%</span>
            </div>
            <div class="flex flex-col items-center ml-4">
             <a href="https://drive.google.com/file/d/120w3yR_CLRdSO7FgPtjSEVIJnLgyrlb6/view?usp=sharing" target="_blank"><img
                class="w-6 hover:cursor-pointer"
                src="../assets/img/document.svg"
                alt=""
              />
</a> 
            </div>
          </div>
          <div
            class="line h-36 w-2 bg-gradient-to-t from-[#192d4b] to-[#C961DE] absolute ml-2 mt-[212px]"
          ></div>

          <div class="flex items-center gap-4 mt-11">
            <div
              class="bubble w-6 h-6 bg-gradient-to-b from-[#192d4b] to-[#C961DE] rounded-full"
            ></div>
            <div class="flex flex-col">
              <span class="text-xl">Aushnara High School</span>
              <div class="flex justify-between">
                <span>Course : Secondary</span>
              </div>
              <span>Percentage : 91%</span>
            </div>
            <div class="flex flex-col items-center ml-4">
               <a href="https://drive.google.com/file/d/12OPeoRsIjsh-TwKM2QKIW_p05yx7kY4C/view?usp=sharing" target="_blank">
              <img
                class="w-6 hover:cursor-pointer"
                src="../assets/img/document.svg"
                alt=""
              /></a>

            </div>
          </div>
        </div>

      </div>
    