<div
      id="mid-cont" data-x={{{current_page_id}}} 
      class="flex flex-col text-white absolute right-[450px] gap-8 top-20 pb-8"
      data-location={{{current_page_loaction}}} 
    >
      <p class="text-[45px] leading-tight font-bold">
        Hello, Abhinaba here,<br />
        am a Mern Stack Developer.
      </p>
      <div class="flex gap-6">
        <button id="hire-me-btn" class="text-lg rounded-3xl py-1 px-10 bg-[#5B565E] hover:bg-[#6e6971]">
          Hire me
        </button>
         <a id="cvDownloadLink" href="assets/ABHINABA-RESUME.pdf" download="Abhinaba Jash-Resume.pdf">
        <button id="download-cv-btn"
          class="text-lg rounded-3xl bg-gradient-to-r from-[#C961DE] to-[#2957A3] hover:from-[#d069e4] hover:to-[#3364b2] py-1 px-10 bg-[linear-gradient]"
        >
          Download CV
        </button>
          </a>
      </div>
    </div>