
      <div
        id="mid-cont" data-x={{{current_page_id}}} data-location={{{current_page_loaction}}} 
        class="flex text-white left-64 gap-8 top-2 absolute items-center w-[160vh] pb-8"
      >

        <div id="skill-cont" class="flex flex-col w-full pt-12 gap-6">
         
        </div>

      </div>
    